img{
    width: 118px;
    height: 118px; 

}

figure {
    display: inline-block;
    margin: 10px;
    position: relative;


}
figcaption {
    position: absolute ;
    right: 5px;
    bottom: 7px;
    color: white;
    font-size: 14px;    
}

section {
    width: 435px;
}

hr{
   width: 100px;
   margin-left: 0;
   border: 1.5px solid black;
}
h1{
    font-family: 'Merriweather', serif;
    margin-bottom: 10px;
}